
@font-face {
  font-family: face;
  src: url('WubbaLubbaDubDub.ttf');
}

body {
  font-size: 17px;
  line-height: 1.6;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: face;
  background-color: #000;
}


h1 {
  color: #f4f4f4;
  text-align: center;
}

.logoPNG {
  width:500px;
}


.char-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}


/* The Button itself */
.button {
background: #54ea0d;
padding: 1em 2em;
color: #fff;
border: 0;
font-family: face;
/* font-size: larger; */
}

.next {
  color: green;
  font-size: large;
  padding: 20px;
  border-radius: 20px;
  font-family: face;
  float: right;
}

.back {
  color: green;
  font-size: large;
  padding: 20px;
  border-radius: 20px;
  font-family: face;
}



/* Hover Effect */
.button:hover {
  background: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
/* Inside Box */
.modal-content { 
  background-color: #f4f4f4;
  margin: 20% auto;
  /* padding: 20px; */
  width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modal-fade;
  animation-duration: 0.5s;
}
.modal-header h2, .modal-footer h3 {
  margin: 0;
}
.modal-footer {
  background: #bfde44;
  padding: 10px;
  color: #41b4ca;
  text-align: center;
}

.modal-header{
  background: #bfde44;
  padding: 15px;
  color: #41b4ca;
}
.modal-body {
  padding: 10px 20px;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.closeBtn:hover,.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modal-fade{
  from{opacity: 0}
  to{opacity: 1}
}

